* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.link {
  display: flex;
  gap: 35px;
}
.link a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.link a:hover {
  color: #32754d;
}
.sc-logo a {
  cursor: pointer;
}
.sc-logo a:hover {
  transform: scale(1.1);
}
.button button {
  background-color: #469064;
  color: white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.button button:hover {
  background-color: #32754d;
}

.img-box {
  width: 100%;
  height: 674px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.img-box img {
  height: 100%;
  width: 100%;
}

.box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dot-in {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #32754d;
  z-index: 10;
}
.dot-out {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #acc9b7;
  z-index: 5;
  position: absolute;
}
.out-out {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #d3e2d9;
  position: absolute;
}

.el-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 229px;
  height: 36px;
  gap: 10px;
  border-radius: 20px;
  color: #32754d;
  background-color: #fff;
  margin-left: 300px;
  margin-bottom: 20px;
}
.el-2 {
  width: 770px;
  height: 168px;
  margin-left: 100px;
}
.el-2 h1,
h2 {
  font-size: 72px;
}
.col-1 {
  margin-left: 5px;
  color: white;
}
.col-2 {
  color: #32754d;
}

.el-3 p {
  margin-left: 125px;
  margin-top: 20px;
  color: white;
  line-height: 25px;
}

.button-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 465px;
  gap: 10px;
  margin-left: 200px;
  margin-top: 10px;
}

.button-1 button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 17px;
  cursor: pointer;
}
.button-2 button {
  background-color: transparent;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.button-1 img {
  width: 20px;
}
.button-2 img {
  width: 30px;
  padding-left: 10px;
}
.color-div {
  background-color: #32754d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}
.button-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}
.button-2:hover {
  background-color: #32754d;
}
.color-div {
  background-color: #32754d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.color-div:hover {
  background-color: #134427;
  border-radius: 10px;
}

.card-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 44px;
}
.card-size {
  height: 300px;
  width: 320px;
  background-color: #ffffff;
  border-radius: 10px;
}

.card-section {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  background-color: #e9e4e4;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 50px;
  padding-top: 30px;
  padding-left: 120px;
  padding-right: 120px;
}
.content h1 {
  font-size: 48px;
}
.content p {
  font-size: 16px;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgb(221, 94, 44);
}
.card-p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.section-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 840px;
  background-color: #e9e4e4;
  padding: 120px;
}
.p-1 {
  margin-bottom: 20px;
  
  color: #32754d;
}
.p-2 {
  margin-top: 20px;
  margin-bottom: 25px;
}
.list-2 {
  line-height: 35px;
}
.cek-pnt {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-3 {
  height: 506px;
  background-color: #e9e4e4;
  display: flex;
  justify-content: center;
}
.sec-3-div {
  width: 1360px;
  height: 384px;
  background-color: #f1dddd;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  border-radius: 10px;
}
.button-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32754d;
  color: white;
  border: none;
  padding: 17px;
  gap: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.button-4 button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.button-4:hover {
  background-color: #144e2b;
}
.sec-3-div p {
  padding-bottom: 25px;
  padding-top: 25px;
}

.footer-sec {
  height: 348px;
  background-color: #131c42;
  padding: 120px;
}
.sc-logo {
  display: flex;
  gap: 15px;
  padding-top: 8px;
}
.sc-logo img {
  width: 20px;
}
.social p {
  color: white;
}

.logo-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.footer-sec p {
  color: #ffffff;
}

.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}